.indiBlogsPage {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    width: 100%;
}


.back-btn {
    padding: 6px 12px;
    border: 3px solid #000;
    box-shadow: 3px 3px 0 #000;
    background: #ff6b00;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.15s ease;
    width: fit-content;
    margin: 50px 00px 15px 100px;
}

.back-btn:hover {
    transform: translate(1.5px, 1.5px);
    box-shadow: 1.5px 1.5px 0 #000;
}

.blog-details {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px 100px;
    font-family: "Inter", sans-serif;
    line-height: 1.7;
    color: #333;
}

.blog-details h1 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
    color: #222;
    transition: color 0.3s ease;
    text-decoration: underline;
}

.blog-details img {
    width: 100%;
    max-width: 350px;
    height: 350px;
    object-fit: contain;
    object-position: center;
    background: #fff;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 10px 10px 0 #000;
    border: 3px solid #000;
    transition: all 0.4s ease;
}

.blog-details img:hover {
    transform: translate(-4px, -4px);
    box-shadow: 6px 6px 0 #000;
}

.blog-details p {
    font-size: 14px;
    color: #000;
    margin-bottom: 18px;
    line-height: 1.6;
}

.blog-details .blog-meta {
    text-align: center;
    font-size: 0.9rem;
    color: #888;
    margin-bottom: 20px;
}

.blog-details .blog-category {
    display: inline-block;
    background: #000000;
    padding: 6px 14px;
    font-size: 0.8rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
    transition: all 0.5s ease;
}

.blog-details .blog-category:hover {
    background-color: #ff6b00;
    color: #fff;
}

.blog-details-container {
    background: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
}



@media (max-width: 768px) {
    .blog-details h1 {
        font-size: 1.8rem;
    }

    .blog-details-container {
        padding: 25px;
    }

    .blog-details p {
        font-size: 1rem;
    }
}