.blogsContainer {
    display: flex;
    min-height: 90vh;
    flex-direction: column;
}

.blogsHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
    margin: 50px auto;

}

.blog-titleHeader {
    font-size: 28px;
    font-weight: 800;
    text-align: center;
    position: relative;
    width: fit-content;
    font-family: "Open Sans", sans-serif;
}

.blog-titleDesc {
    text-align: center;
    color: #000;
    font-family: "Open Sans", sans-serif;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

.blog-wrapper {
    padding: 20px 100px;
}

/* Grid */
.blog-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
}

/* Fade Animation when page changes */
.fade-animation {
    animation: fadeIn 0.6s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Card */
.blog-card {
    background: #fff;
    overflow: hidden;
    border: 3px solid #000;
    box-shadow: 10px 10px 0 #000;
    transform: translate(-6px, -6px);
    transition: all 0.18s ease;
    will-change: transform;
}

.blog-card:hover {
    transform: translate(-3px, -3px);
    box-shadow: 6px 6px 0 #000;
}

/* Image */
.blog-image {
    position: relative;
    overflow: hidden;
    height: 220px;
}

.blog-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s ease;
}

.blog-card:hover .blog-image img {
    transform: scale(1.1);
}

.blog-image::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
}

/* Content */
.blog-content {
    padding: 22px;
}

.blog-category {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
    display: block;
    margin-bottom: 10px;
}

.blog-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
    color: #222;
    transition: color 0.3s ease;
}

.blog-card:hover .blog-title,
.blog-card:hover .blog-category {
    color: #ff6b00;
}

.blog-description {
    font-size: 14px;
    color: #000;
    margin-bottom: 18px;
    line-height: 1.6;
}

/* Button */
.blog-btn {
    padding: 6px 12px;
    border: 3px solid #000;
    box-shadow: 3px 3px 0 #000;
    background: #ff6b00;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.15s ease;
}

.blog-btn:hover {
    transform: translate(1.5px, 1.5px);
    box-shadow: 1.5px 1.5px 0 #000;
}

/* Pagination */
.pagination {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

/* Page Numbers */
.page-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background: #ff6b0050;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
}

.page-btn:hover {
    background: #ff6b00;
    color: #fff;
}

.page-btn.active {
    background: #ff6b00;
    color: #fff;
    transform: scale(1.1);
}

/* Arrows */
.arrow-btn {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: none;
    background: #ff6b00;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
}

.arrow-btn:hover:not(:disabled) {
    transform: scale(1.1);
    background: #ff6b00;
}

.arrow-btn:disabled {
    background: #dedede;
    cursor: not-allowed;
}