.indiBlogsPage {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    width: 100%;
}


.back-btn {
    padding: 6px 12px;
    border: 3px solid #000;
    box-shadow: 3px 3px 0 #000;
    background: #ff6b00;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.15s ease;
    width: fit-content;
    margin: 50px 00px 15px 100px;
}

.back-btn:hover {
    transform: translate(1.5px, 1.5px);
    box-shadow: 1.5px 1.5px 0 #000;
}

.blog-details {
    width: 100%;
    padding: 40px 100px;
    font-family: "Georgia", serif;
    line-height: 1.8;
    color: #111;
}

/* Newspaper Title */
.news-title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 3px solid #000;
    padding-bottom: 10px;
}

/* Alternating Layout */
.news-row {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 60px;

}

.news-row.reverse {
    flex-direction: row-reverse;
}

/* Image Styling */
.news-image img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border: 3px solid #000;
    box-shadow: 8px 8px 0 #000;
    transition: 0.3s ease;
}

.news-image img:hover {
    transform: translate(-4px, -4px);
    box-shadow: 4px 4px 0 #000;
}

/* Text Styling */
.news-text {
    flex: 1;

}

.news-text p {
    font-family: "Open Sans", sans-serif;
    text-align: justify;
}

.blog-rating {
    font-family: "Open Sans", sans-serif;
}

.news-full {
    font-family: "Open Sans", sans-serif;
}

/* Responsive */
@media (max-width: 1300px) {
    .news-row {
        flex-direction: column !important;
    }

    .news-image img {
        width: 100%;
        height: auto;
    }
}