.indiBlogsPage {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    width: 100%;
}

.back-btn {
    padding: 6px 12px;
    border: 1px solid var(--border);
    box-shadow: 3px 3px 0 var(--shadow);
    background: var(--accent);
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.15s ease;
    width: fit-content;
    margin: 50px 0px 15px 100px;
}

.back-btn:hover {
    transform: translate(1.5px, 1.5px);
    box-shadow: 0 0 0 var(--shadow);
}

body.dark .back-btn {
    box-shadow: 3px 3px 5px var(--shadow);
}

body.dark .back-btn:hover {
    transform: translate(1.5px, 1.5px);
    box-shadow: 0 0 0 var(--shadow);
}

.blog-details {
    width: 100%;
    padding: 40px 100px;
    font-family: "Georgia", serif;
    line-height: 1.8;
    color: var(--text);
}

.news-title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 3px solid var(--border);
    padding-bottom: 10px;
}

.news-row {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 60px;
}

.news-row.reverse {
    flex-direction: row-reverse;
}

.news-image img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border: 3px solid var(--border);
    box-shadow: 8px 8px 0 var(--shadow);
    transition: 0.3s ease;
}

.news-image img:hover {
    transform: translate(1.5px, 1.5px);
    box-shadow: 0 0 0 var(--shadow);
}

body.dark .news-image img {
    box-shadow: 10px 10px 10px var(--shadow);
}

body.dark .news-image img:hover {
    transform: translate(1.5px, 1.5px);
    box-shadow: 0 0 0 var(--shadow);
}


.news-text {
    flex: 1;
}

.news-text p {
    font-family: "Open Sans", sans-serif;
    text-align: justify;
    color: var(--subtext);
}

.blog-rating {
    font-family: "Open Sans", sans-serif;
    color: var(--text);
    margin-bottom: 20px;
}

.news-full {
    font-family: "Open Sans", sans-serif;
    color: var(--text);
}

@media (max-width: 1300px) {
    .news-row {
        flex-direction: column !important;
    }

    .news-image img {
        width: 100%;
        height: auto;
    }
}