.contact {
    /* min-height: 80vh; */
    padding: 20px 20px;
    width: fit-content;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 6px solid #000;
    box-shadow: 12px 12px 0 #000;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* .contact:hover {
    transform: translate(5px, 5px);
    box-shadow: 5px 5px 0 #000;
} */


/* TITLE */
.contact-title {
    font-size: 48px;
    font-weight: 800;
}

.contact-sub {
    margin-top: 10px;
    color: #666;
}

/* FORM */
.contact-form {
    margin-top: 50px;
    width: 100%;
    max-width: 600px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* INPUTS */
.contact-form input,
.contact-form textarea {
    padding: 16px;
    border: 3px solid #000;
    font-size: 16px;
    outline: none;
}

/* BUTTON */
.contact-form button {
    padding: 16px;
    border: 2.5px solid #000;
    background: transparent;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 12px 12px 0 #000;
    transition: transform 0.3s, box-shadow 0.3s;
}

.contact-form button:hover {
    opacity: 0.9;
    transform: translate(5px, 5px);
    box-shadow: 5px 5px 0 #000;
}