.customLoaderOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}


.customLoader {
    display: flex;
    align-items: center;
    justify-content: center;
}


.customLoader svg polyline {
    fill: none;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.customLoader svg .back {
    stroke: rgba(255, 77, 79, 0.2);
}

.customLoader svg .front {
    stroke: #ff6b00;
    stroke-dasharray: 48, 144;
    stroke-dashoffset: 192;
    animation: dashAnimation 1.4s linear infinite;
}


@keyframes dashAnimation {
    72.5% {
        opacity: 0;
    }

    to {
        stroke-dashoffset: 0;
    }
}