.footer {
    padding: 40px 80px;

    border-top: 1px solid #00000050;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LEFT TEXT */
.footer-text {
    color: #000;
    font-size: 14px;
}

/* SOCIAL LINKS */
.footer-links {
    display: flex;
    gap: 25px;
}

.footer-links a {
    color: #555;
    font-weight: 500;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #ff6b00;
}

@media (max-width: 768px) {

    .footer {
        padding: 30px 20px;
        /* reduce side padding */
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .footer-links {
        justify-content: center;
        gap: 18px;
    }
}

@media (max-width: 480px) {

    .footer-text {
        font-size: 13px;
    }

    .footer-links {
        gap: 14px;
    }
}