.gitHubBody {
    padding: 100px 10px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}

.gitHubHeader {
    display: flex;
    gap: 20px;
    align-items: center;
}

.gitHubHeader h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.gitHubSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-activity-calendar__legend-month {
    font-family: "Open Sans", sans-serif;

}

.gitHubLinkClass {
    position: relative;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    cursor: pointer;
    position: relative;
}


.gitHubLinkClass::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;

    width: 0;
    height: 2px;
    background: #ff6b00;

    transition: width 0.8s ease-in-out;
}

.gitHubLinkClass:hover::after {
    width: 100%;
}