@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #ffffff;
    --text: #111;
    --card-bg: #ffffff;
    --border: #000;
    --shadow: #000;
    --accent: #ff6b00;
    --subtext: #555;
}

/* DARK MODE */
body.dark {
    --bg: #0f0f0f;
    --text: #f5f5f5;
    --card-bg: #1a1a1a;
    --border: #ffffff;
    --shadow: #ffffff;
    --accent: #ff6b00;
    --subtext: #bbb;
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
}



a {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #fff;
    transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff6b00;
}