@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

:root {
    --bg: #ffffff;
    --text: #111;
    --card-bg: #ffffff;
    --border: #000;
    --shadow: #000;
    --accent: #ff6b00;
    --subtext: #555;
    --skills-bg: lightgray;
    --progress-bg: #e5e5e5;
    --progress-text: #333;
    --progress-fill: #000;
    --skill-icon-color: var(--accent);
}

body.dark {
    --bg: #0f0f0f;
    --text: #f5f5f5;
    --card-bg: #1a1a1a;
    --border: #ffffff;
    --shadow: grey;
    --accent: #ff6b00;
    --subtext: #bbb;
    --skills-bg: #000;
    --progress-bg: #ff6b00;
    --progress-text: #f5f5f5;
    --progress-fill: #fff;
    --skill-icon-color: var(--accent);
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
        Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
}



a {
    text-decoration: none;
    color: inherit;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #fff;
    transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: #ff6b00;
}

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

.reveal:nth-of-type(1) {
    transition-delay: 0.01s;
}

.reveal:nth-of-type(2) {
    transition-delay: 0.02s;
}

.reveal:nth-of-type(3) {
    transition-delay: 0.03s;
}

.reveal:nth-of-type(4) {
    transition-delay: 0.04s;
}