.projects {
    padding: 100px 80px;
    background: #e5e5e5;

    display: flex;
    flex-direction: column;
    align-items: center;
}


.projects-grid {
    margin-top: 70px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

    gap: 40px;
    width: 100%;
    max-width: 1300px;
}

.project-card {
    font-family: Montserrat, sans-serif;

    background: #ffffff;
    border: 3px solid #000;
    box-shadow: 10px 10px 0 #000;

    transform: translate(-6px, -6px);
    transition: all 0.18s ease;

    overflow: hidden;

    will-change: transform;
}

.project-card:hover {
    transform: translate(-3px, -3px);
    box-shadow: 6px 6px 0 #000;
}

.card-head {
    background: #fff;
    border-bottom: 3px solid #000;

    font-weight: 900;
    font-size: 14px;

    padding: 6px 12px;
}


.card-content {
    padding: 14px;
}

.project-desc {
    margin-top: 10px;
    color: #444;
    line-height: 1.5;

    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.project-desc.expanded {
    -webkit-line-clamp: unset;
    line-clamp: unset;
    overflow: visible;
}

.show-more {
    display: inline-block;
    margin-top: 6px;
    color: #ff6b00;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    transition: all 0.15s ease;
}

.show-more:hover {
    text-decoration: underline;
}


.tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 18px;
}

.tech-stack span {
    border: 2px solid #000;
    padding: 4px 10px;
    background: #fff;

    font-size: 12px;
    font-weight: 700;
}

.project-links {
    margin-top: 20px;
    display: flex;
    gap: 12px;
}

.brutal-btn {
    padding: 6px 12px;

    border: 3px solid #000;
    box-shadow: 3px 3px 0 #000;

    background: #ff6b00;
    color: #fff;
    font-weight: 700;

    transition: all 0.15s ease;
}

.brutal-btn:hover {
    transform: translate(1.5px, 1.5px);
    box-shadow: 1.5px 1.5px 0 #000;
}

.section-subProject {
    text-align: center;
    color: #000;
    font-family: "Open Sans", sans-serif;
    margin-top: 10px;
    max-width: 700px;
}